html,
body {
  min-width: 1140px;
}
body {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: #363636;
  font-style: normal;
  background-color: #fff;
}
.btn {
  margin-right: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 10px 33px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  background-color: #e81123;
  border: none;
  outline: none;
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
body {
  background: url(../img/Done1.jpg) no-repeat 50% 0;
  background-size: 1920px auto;
  min-height: 5622px;
}
/* ----------- Подсветка блоков ----------- */
body > *,
body > * > *,
body > * > * > *,
body > * > * > * > * {
  position: relative;
}
body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: attr(class);
  position: absolute;
  height: 24px;
  padding: 2px 5px;
}
body > *::before {
  top: 0px;
  left: 0px;
}
body > * > *::before {
  top: 0;
  left: 0;
}
body > * > * > *::before {
  top: 0;
  left: 0;
}
body {
  box-shadow: inset 0 0 0 3px green;
}
body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: inset 0 0 0 3px green;
}
body > *::before {
  color: white;
  background: green;
}
body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: inset 0 0 0 2px #ff2d52;
}
body > * > *::before {
  color: white;
  background: #ff2d52;
}
body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px #eaff2d;
}
body > * > * > * > * {
  background: rgba(134, 255, 45, 0.4);
  box-shadow: inset 0 0 0 2px #86ff2d;
}
body > * > * > * > * > * {
  background: rgba(234, 155, 145, 0.4);
  box-shadow: inset 0 0 0 2px #eaff91;
}
body > * > * > *::before {
  color: black;
  background: #eaff2d;
}
body > * > * > * > *::before {
  color: black;
  background: #eaff2d;
}
.top-line {
  min-height: 30px;
  background: #000000 ;
}
.top-line__wrapper {
  width: 1140px;
  margin: 0 auto;
}
.top-line__wrapper::after {
  content: "";
  display: table;
  clear: both;
}
.top-line__btn {
  padding: 3px 30px;
  float: right;
  margin: 0;
  margin-left: 15px;
}
.top-nav {
  font-size: 0;
  line-height: 0;
  float: right;
  margin: 0;
}
.top-nav a {
  display: block;
  padding: 3px 15px;
  text-decoration: none;
  color: #ffffff;
}
.top-nav a:hover {
  background: #ccc;
}
.top-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.top-nav__item {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
}
.top-nav__item:before {
  content: "|";
  position: absolute;
  right: -2px;
  top: 3px;
  color: #fff;
}
