// МИКСИН ДЛЯ СОЗДАНИЯ CLEARFIX
.clearfix() {
  &::after {
    content: "";
    
    display: table;
    clear: both;
  }
}

// АДАПТИВНЫЙ ЦЕНТРОВЩИК
.container() {
  box-sizing:border-box;
  width: 1140px;
  margin: 0 auto;
}

.no-outline() {
  outline: none;
  background: transparent;
  &::before {
    display: none;
  }
}

.ul-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.font-default() {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: @color-black;
  font-style: normal;
}

.h2-index () {
  margin: 0;
  font-size: 45px;
  line-height: 50px;
  font-weight: 400;
}