html, body {
	min-width: 1140px;
}

body {
	margin: 0;
	.font-default();
	background-color: #fff;
}

img {
	max-width: 100%;
	height: auto;
}

// Доступное скрытие элементов

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;

	border: 0;

	clip: rect(0, 0, 0, 0);
}
