html, body {
	min-width: @wrapper-width;
}

body {
	.font-body();
	margin: 0;
	background-color: @bg-white;
	color: color-black;
}

img {
	max-width: 100%;
	height: auto;
}

// Доступное скрытие элементов

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;

	border: 0;

	clip: rect(0, 0, 0, 0);
}
