.btn {
	margin-right: 16px;
	display: inline-block;
	vertical-align: top;
	padding: 10px 33px;

	font-weight: 400;
	font-size: 14px;
	text-align: center;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 24px; 
	color: #fff;
	text-decoration: none;
	background-color: #e81123;
	border: none;
	outline: none;
	cursor: pointer;

	-moz-transition: all 0.2s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;

	&:hover {
		-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
		box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
	}
}