.features {
	background: #f4f4f4;

	&__wrapper {
		.container();
		.clearfix();
		padding: 20px 15px;
	}

	&__item {
		width: 255px;
		min-height: 60px;
		float: left;
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}
	}
	&__img {
		float: left;
		width: 70px;
		min-height: 60px;
		margin-right: 10px;
		background: #000;
	}
	p {
		margin: 6px 0;
		padding: 0 10px;
		line-height: 24px;
	}
}