.page-footer {
	background: #363636;
	color: #cacaca;

	&__wrapper {
		.container();
		padding: 35px 15px 60px;

	}

	&__content {
		font-size: 0;
	}

	&__footer {
		.clearfix();
		margin-top: 30px;
	}

	&__contacts {
		float: left;
		margin-right: 150px;

		a {
			text-decoration: none;
			color: #f3f3f3;
			display: inline-block;
			font-weight: 300;
		}

		&--phone {
			.font-default();
			font-size: 22px;
			line-height: 28px;
			margin-right: 15px;
		}

		&--mail {
			.font-default();
			font-size: 18px;
			line-height: 28px;
			margin-left: 15px;
		}
	}
	
	&__calback {
		text-transform: uppercase;
		line-height: 28px;
		font-size: 18px;
		color: #f3f3f3;
		text-decoration: none;
		display: block;
		float: right;
		border-bottom: 1px dotted;

		&:hover {
			color: @color-blue;
		}
	}
}

.links {
	display: inline-block;
	vertical-align: top;
	width: 198px;
	.font-default();
	margin-right: 30px;

	&:last-child {
		margin-right: 0;
	}
	
	a {
		.font-default();
		color: #7f7f7f;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
			color: @color-blue;
		}
	}
	
	&__list {
		.ul-reset();
		li {
			margin-top: 5px;
		}
	}

	&__title {
		font-weight: 400;

		a {
			font-size: 20px;
			color: #f3f3f3;
		}
	}
}