.page-header {
	background: url(../img/bg-slider.jpg) no-repeat 50% -30px #cfcfcf;
	color: @color-black;
	
	&__wrapper {
		.container();
		.clearfix();
		min-height: 575px;
	}
	
	&__left {
		min-height: 575px;
		margin-left: 15px;
		width: 735px;
		float: left;

		h1 {
			.font-header();
			padding: 35px;
			margin: 0;
			margin-top: 30px;
		}

		p {
			.font-title();
			color: @color-black;
			padding: 35px;
			padding-top: 0;
			margin: 0;
			margin-bottom: 40px;
		}
	}

	&__right {
		margin-right: 15px;
		width: 350px;
		min-height: 575px;
		float: right;
	}
	
	&__btn {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}