.production {
	background: @gray;

	&__wrapper {
		.container();
		.clearfix();
		padding: 60px 15px 80px;
	}
	
	&__btn {
		padding: 15px 50px;
		font-size: 22px;
	}
	img {
		float: right;
	}
	p {
		margin: 50px 0;
		padding: 0;
		padding-right: 500px;
	}
}